@{
    ViewBag.Title = "Успешное бронирование.";
}

<h2>Бронирование прошло успешно! Оплатите бронь в течении 48 часов или бронь будет автоматически снята.</h2>

@Html.ActionLink("К списку комнат", "Rooms", null, new { @class="toRooms" })