@{
    ViewBag.Title = "Главная";
}

<h1 id="title">Добро пожаловать на сайт отеля Intourist Palace!</h1>
<div style="text-align: center;"><img src="/Content/images/5star.png" style="width: 40%;" /></div>
<div class="left">
    <p>Окунитесь в отель Intourist Palace ради чудесного и роскошного пребывания в одном из самых 
    красивых городов Грузии.</p>
</div>
<div class="right">
    <p>Расположенный всего в нескольких минутах от прекрасных пляжей отель Intourist Palace — 
    идеальное место для спокойного отдыха. В любом из наших современных номеров и люксов вас 
    ждут красивейшие виды и многие удобства, такие как бесплатный Wi-Fi, телевиденье, холодильник, 
    сейф и другое. Рядом с отелем находится автобусная остановка и железнодорожная станция, откуда 
    вы можете доехать до центра Батуми, чтобы полюбоваться всеми прелестями этого очаровательного 
    черноморского курорта Грузии.</p>
    <h2>ОТ ИЗЫСКАННОЙ КУХНИ ДО ЧУДОДЕЙСТВЕННЫХ СПА-ПРОЦЕДУР</h2>
    <p>Наш отель в Батуми предлагает 2 ресторана с разнообразным меню — от турецкой кухни до 
    приготовленных на гриле блюд и аппетитных суши. И не забудьте заглянуть в один из наших 
    баров на бокал чего-нибудь освежающего.</p>
    <p>Поддерживать хорошую форму поможет фитнес-центр, а также крытый и открытый бассейны. 
    Хотите расслабиться и отдохнуть после тренировки? Наш оздоровительный спа-центр Anne Semonin 
    предлагает несколько видов массажа и богатый выбор иных процедур.</p>
    <p>С наступлением вечера приглашаем вас попытать удачу в казино отеля. Организаторы мероприятий, 
    планирующие в Батуми конференцию или торжество, могут воспользоваться любым из 7 конференц-залов, 
    включая 2 переговорные для небольших встреч и большой актовый зал на 350 человек. Все детали 
    узнавайте у администратора.</p>
</div>