<div class="review">
    <h3>Оставте свой собственный отзыв!</h3>

    <form action="AddReview" method="post">
        <div style="clear: both;">
            <textarea name="Text" id="tR" style="resize: none; " cols="80" rows="7"></textarea>
        </div>
        <p></p>
        <input type="submit" value="Оставить отзыв" class="subm" />
    </form>
</div>
<script type="text/javascript" src="~/Scripts/error.js"></script>