@{
    ViewBag.Title = "Контакты";
}

<h2>Контакты</h2>
<div class="fields">
    <div class="contacts">
        <div><b>Телефон:</b>+380505860190</div> <br />
        <div><b>Адрес:</b> ул. Ниношвилли, 11, г. Батуми, Грузия</div>
    </div>
    <h3>Месторасположение отеля «Hotel Intourist Palace» на карте</h3>
    <img src="~/Content/images/location.jpg" />
</div>

