@{
    ViewBag.Title = "Правила";
}

<h2>Правила проживания в отеле «Hotel Intourist Palace»</h2>
<ol>
    <li>Заселение в частные апартаменты производится при предъявлении паспорта или другого документа, удостоверяющего личность.</li>
    <li>Плата за проживание осуществляется при заселении в соответствии с установленными тарифами или предварительно в случае бронирования. <b>Оплатите бронь в течении 48 часов или бронь будет автоматически снята!</b></li>
    <li>
        Расчетный час в отеле «Hotel Intourist Palace» – 12.00 часов
        Если апартаменты свободны в день заселения, гости заселяются в любое время, если заняты, то после 14:00 часов.
        При раннем заселении взимается плата в следующих размерах:
        <ul type="disc">
            <li>не более 2 часов до заселения (14:00) — бесплатно</li>
            <li>от 2 до 6 часов до расчетного часа (14:00)- почасовая оплата;</li>
            <li>от 6 часов до заселения (14:00) - взимается плата за полные сутки.</li>
        </ul>
        При продлении сроков проживания взимается плата в следующих размерах:
        <ul type="disc">
            <li>не более 6 часов после расчетного часа - почасовая оплата;</li>
            <li>от 6 до 12 часов после расчетного часа - 0.5 суток;</li>
            <li>отсвыше 12 часов после расчетного часа - за полные сутки.</li>
        </ul>
        При проживании не более суток ( 24 часов) плата взимается за сутки независимо от времени заселения.
    </li>
    <li>На сайте можно отправить запрос на бронирование номера менеджеру отеля, указав необходимые критерии номера. В течении часа наш менеджер отправит вам запрос на подтверждение бронирования.</li>
    <li>В случае продления проживания в апартаментах, гости согласовывают этот вопрос с руководством.</li>
    <li>С ведома руководства и по просьбе проживающих в апартаментах могут находиться посторонние лица. Пребывание посторонних лиц разрешено до 22:00.</li>
    <li>Проживающим не разрешается оставлять гостей во время своего отсутствия в апартаментах или передавать им ключи без уведомления руководства апартаментов.</li>
    <li>Гости должны соблюдать правила общественного порядка. Содержать помещение в состоянии, отвечающем всем санитарным и противопожарным правилам.</li>
    <li>После <b>22:00</b> соблюдать тишину.</li>
    <li>В целях безопасности не разрешается курить внутри помещения или на территории отеля. За курение в апартаментах штраф <b>800 грн.</b></li>
    <li>При выходе из апартаментов необходимо: закрыть окна и краны; выключить свет и телевизор; закрыть дверь.</li>
    <li>Гостям запрещено держать в апартаментах животных и птиц.</li>
    <li>Запрещается приносить и хранить в апартаментах вещи, материалы и предметы, которые являются опасными для жизни, здоровья граждан, а также хранить имущество (оружие, боеприпасы, взрывчатые или наркотические вещества).</li>
    <li>Гость несет материальную ответственность за потерю или повреждение имущества апартаментов и обязан компенсировать убытки в полном размере на основании акта о материальном ущербе.</li>
    <li>За испорченные полотенца или постельное белье взимается плата, соответствующая их стоимости (пятна от кофе, вина, пива, шоколада, фруктов, ягод, губной помады, чернил и других тяжело отстирываемых веществ).</li>
    <li>При потери ключей от апартаментов и входной двери гость обязан компенсировать денежные средства для замены сердцевин замков и изготовления 5 ключей от входной двери.</li>
    <li>Проживающий должен сдать при выезде апартаменты руководству.</li>
    <li>В случае неоднократного нарушения гостями внутренних правил проживания в отеле «Hotel Intourist Palace», что приводит к материальным убыткам, а так же создает неудобства для других гостей, руководство имеет право отказать в заселении или расторгнуть договор (осуществить выселение).</li>
</ol>