@{
    ViewBag.Title = "Успешное бронирование.";
}

<h2>
    Бронирование прошло успешно! Пользователь будет уведомлён об этом и в его личном кабинете
    отобразится запрос на подтверждение бронирования. 
</h2>

@Html.ActionLink("К списку других заявок", "ShowApplications", null, new { @class = "toRooms" })