@{
    ViewBag.Title = "SendRefusal";
}

<h2>Пользователь был оповещен о том, что в наличии нет свободных номером по заданным критериям на заданные даты. </h2>

@Html.ActionLink("К списку других заявок", "ShowApplications", null, new { @class = "toRooms" })
